<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/../static/resources/images/favicon.png}">

    <title>Autoobchod</title>
</head>
<body>
    <h2>Přidej vozidlo</h2>

    <form action="#" th:action="@{/addVehicle}" th:object="${vehicleToAdd}" method="post">
        <table>
            <tr>
                <td>Druh:</td>
                <td>
                    <select th:name="category">
                        <option th:each="cat : ${category}"
                            th:value="${cat}"
                            th:text="${cat}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Značka:</td>
                <td>
                    <select th:name="brand">
                        <option th:each="brand : ${brands}"
                                th:value="${brand.name}"
                                th:text="${brand.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Model:</td>
                <td>
                    <input type="text" th:field="*{model}" />
                </td>
                <td th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model Error</td>
            </tr>
            <tr>
                <td>Typ:</td>
                <td>
                    <input type="text" th:name="vehicleType" />
                </td>
                <td th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}">vehicleType Error</td>
            </tr>
            <tr>
                <td>Cena:</td>
                <td>
                    <input th:name="price" />
                </td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
            <tr>
                <td>Datum uvedení do provozu:</td>
                <td>
                    <input type="text" th:name="commissioning" />
                </td>
                <td th:if="${#fields.hasErrors('commissioning')}" th:errors="*{commissioning}">Commissioning Error</td>
            </tr>
        </table>

        <input type="submit" value="Přidat do prodeje" />
    </form>
</body>
</html>