<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/../static/resources/images/favicon.png}">

    <title>Autoobchod</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
            padding: 1px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Vítejte v obchodě s vozidly</h2>
    <h2>Vozidla</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;">Druh</th>
            <th style="width: 150px;">Značka</th>
            <th style="width: 200px;">Model</th>
            <th>Typ</th>
            <th style="width: 120px">Cena</th>
            <th>Datum uvedení do provozu</th>
            <th style="width: 80px">Prodáno</th>
            <th style="width: 120px"></th>
        </tr>
        </thead>
        <tbody>
            <tr style="text-align: center" th:each="vehicle : ${vehicles}">
                <td th:text="${vehicle.category}"/>
                <td th:text="${vehicle.brand_id.name}"/>
                <td th:text="${vehicle.model}"/>
                <td th:text="${vehicle.vehicleType}"/>
                <td th:text="${#numbers.formatInteger(vehicle.price, 0, 'WHITESPACE')} + ',-'"/>
                <td th:text="${#temporals.format(vehicle.commissioning, 'dd.MM.yyyy')}"/>
                <td>
                    <span th:if="${vehicle.soldAtDate == null}">-</span>
                    <span th:unless="${vehicle.soldAtDate == null}" th:text="${#temporals.format(vehicle.soldAtDate, 'dd.MM.yyyy')}"/>
                </td>
                <td>
                    <form th:if="${vehicle.soldAtDate == null}" action="#" th:action="@{/sellVehicle}" th:object="${vehicleToSell}" method="post">
                        <input type="hidden" name="id" th:value="${vehicle.id}" />
                        <input type="submit" value="Prodat" />
                    </form>
                    <span th:unless="${vehicle.soldAtDate == null}" th:text="'PRODÁNO'"/>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/addVehicle}" class="button">Přidat vozidlo</a>
</body>
</html>